.emotionsList {
    display: flex;
    justify-content: space-between;
}

.buttonWrapper {
    text-align: right;
    margin-top: 20px;
}

.modalContentContainer {
    display: flex;
    flex-direction: column;
}
